<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="imrt_connectionString" connectionString="Host=imrt-prod-cluster.cluster-c7g9woytu6d2.us-west-2.rds.amazonaws.com;Username=imrt_read;Password=eiMub1Ni;Database=imrt"/>
  </connectionStrings>
  <appSettings>
    <add key="audioEncodePath" value="D:\\ContentPackaging\\packages\\RecodeOgg.exe"/>
  </appSettings>
</configuration>